fastapi
uvicorn[standard]
jinja2
pydantic
pydantic-settings
pydantic[email]
python-multipart
sqlmodel
asyncpg
aiosqlite
alembic
python-dotenv
httptools
httpx
loguru
itsdangerous
pytest
pytest-asyncio
babel
