<!-- Title -->
<div>
    <label class="label-datagrid">{{ _('Title') }}</label>
    <input type="text" x-model="currentRow.title" @input="errors.title = ''"
        class="input-datagrid"
        :class="{'input-error': errors.title}">
    <div x-show="errors.title" x-text="errors.title" class="error-text"></div>
</div>
<!-- Author -->
<div>
    <label class="label-datagrid">{{ _('Author') }}</label>
    <input type="text" x-model="currentRow.author" @input="errors.author = ''"
        class="input-datagrid"
        :class="{'input-error': errors.author}">
    <div x-show="errors.author" x-text="errors.author" class="error-text"></div>
</div>
<!-- Year & Pages -->
<div class="grid grid-cols-2 gap-4">
    <div>
        <label class="label-datagrid">{{ _('Year') }}</label>
        <input type="number" x-model.number="currentRow.year" @input="errors.year = ''"
            class="input-datagrid"
            :class="{'input-error': errors.year}">
        <div x-show="errors.year" x-text="errors.year" class="error-text"></div>
    </div>
    <div>
        <label class="label-datagrid">{{ _('Pages') }}</label>
        <input type="number" x-model.number="currentRow.pages" @input="errors.pages = ''"
            class="input-datagrid"
            :class="{'input-error': errors.pages}">
        <div x-show="errors.pages" x-text="errors.pages" class="error-text"></div>
    </div>
</div>
<!-- Summary -->
<div>
    <label class="label-datagrid">{{ _('Summary') }}</label>
    <textarea x-model="currentRow.summary" rows="3" @input="errors.summary = ''"
        class="textarea-datagrid"
        :class="{'input-error': errors.summary}"></textarea>
    <div x-show="errors.summary" x-text="errors.summary" class="error-text"></div>
</div>